.productHero{
    padding: 120px 30px;
    background: url('../src/assets/img/prodcu_home.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 100;
}

.productHero::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.productTitle{
    padding: 80px 20px;
    text-align: center;
    background: url('../src/assets/img/bggg.jpg') center;
    background-size:cover;
    background-attachment: fixed;
}